iamraw==1.17.8
utila==1.15.1

configo==0.5.5

# ensure that test data is generated with the right version of rawmaker
rawmaker==1.13.7
# reference to test data
power==0.6.14

# test data generator
jam==0.1.8
